<section class="rates">
	<section class="body">
		<div id="services">
			<h2>Suite 116 Price list :: {{specialRateText}}</h2>
			<ul>    
				{{#each rates}}
					<li><em>{{{day}}}</em></li>
					<li>{{../specialRateText}} &ndash; ${{specialRate}}</li>
					<li>{{../hourRateText}} &ndash; ${{hourRate}}</li>
				{{/each}}
			</ul>
			
			<h2><em>Additional Info:</em></h2>		
			<ul class="additional-info">
				<li>Security Personnel: ${{securityRate}}</li>
				{{#additionalInfo}}			
					<li>{{info}}</li>
				{{/additionalInfo}}		
			</ul>
		</div>
	</section>
</section>			
		